<footer class="footer">
  <div class="container mx-auto">
    <div class="footerLeft">
      © 2022 Defite. This site was made with
      <a class="footerLink" href="https://ghost.org/">
        Ghost
      </a>
      ,
      <a class="footerLink" href="https://tailwindcss.com/">
        Tailwind CSS
      </a>
      &
      <a class="footerLink" href="https://timeweb.ru/">
        deployed via TimeWeb
      </a>
      .
    </div>
  </div>
</footer>